<p id="notice"><%= notice %></p>

<% content_for :query do %>

  <h1>Teams, 1963-2013</h1>


  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= link_to "Create", new_team_path %>
    </div>
    <div class="field">
      <%= f.label :year_gteq, "Years From, To" %><br />
      <%= f.search_field :year_gteq, :class => "sfield" %>
      <%= f.search_field :year_lteq, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :teamName_cont, "Team" %><br />
      <%= f.search_field :teamName_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :leagueID_cont, "League" %><br />
      <%= f.search_field :leagueID_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :rank_eq, "Division Rank" %><br />
      <%= f.search_field :rank_eq, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :playoff_eq, "Playoff Result" %><br />
      <%= f.search_field :playoff_eq, :class => "sfield" %>
    </div>
    <br />
    <br />
    <div class="actions"><%= f.submit "Search", :class => "button" %></div>
  <% end %>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :year, "Year" %></th>
      <th><%= sort_link @search, :teamName, "Team Name" %></th>
      <th><%= sort_link @search, :teamID, "Team ID" %></th>
      <th><%= sort_link @search, :leagueID, "League" %></th>
      <th><%= sort_link @search, :rank, "Division Rank" %></th>
      <th><%= sort_link @search, :playoff, "Playoff Result" %></th>
      <th><%= sort_link @search, :games, "Games" %></th>
      <th><%= sort_link @search, :wins, "Wins" %></th>
      <th><%= sort_link @search, :losses, "Losses" %></th>
      <th><%= sort_link @search, :ties, "Ties" %></th>
      <th><%= sort_link @search, :overTimeLosses, "Overtime Losses" %></th>
      <th><%= sort_link @search, :points, "Points" %></th>
      <th><%= sort_link @search, :shootOutWins, "Shootout Wins" %></th>
      <th><%= sort_link @search, :shootOutLosses, "Shootout Losses" %></th>
      <th><%= sort_link @search, :goalsFor, "Goals For" %></th>
      <th><%= sort_link @search, :goalsAgainst, "Goals Against" %></th>
      <th><%= sort_link @search, :pim, "Penalty Minutes" %></th>
      <th><%= sort_link @search, :powerPlayGoals, "Powerplay Goals" %></th>
      <th><%= sort_link @search, :powerPlayChances, "Powerplay Chances" %></th>
      <th><%= sort_link @search, :shorthandedGoalsAgainst, "Shorthanded Goals Against" %></th>
      <th><%= sort_link @search, :powerPlayGoalsAgainst, "Powerplay Goals Against" %></th>
      <th><%= sort_link @search, :penaltyKillChances, "Penalty Kill Chances" %></th>
      <th><%= sort_link @search, :shorthandedGoalsFor, "Shorthanded Goals For" %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= team.year %></td>
        <td><%= team.teamName %></td>
        <td><%= team.teamID %></td>
        <td><%= team.leagueID %></td>
        <td><%= team.rank %></td>
        <td><%= team.playoff %></td>
        <td><%= team.games %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td><%= team.ties %></td>
        <td><%= team.overTimeLosses %></td>
        <td><%= team.points %></td>
        <td><%= team.shootOutWins %></td>
        <td><%= team.shootOutLosses %></td>
        <td><%= team.goalsFor %></td>
        <td><%= team.goalsAgainst %></td>
        <td><%= team.pim %></td>
        <td><%= team.powerPlayGoals %></td>
        <td><%= team.powerPlayChances %></td>
        <td><%= team.shorthandedGoalsAgainst %></td>
        <td><%= team.powerPlayGoalsAgainst %></td>
        <td><%= team.penaltyKillChances %></td>
        <td><%= team.shorthandedGoalsFor %></td>
      </tr>
    <% end %>
  </tbody>
</table>


