<p id="notice"><%= notice %></p>


<h2>Teams, 1963-2013</h2>
<table class="body_scroll">
  <thead>
    <tr>
      <th><%= sortable "year" %></th>
      <th><%= sortable "teamName" %></th>
      <th><%= sortable "teamID" %></th>
      <th><%= sortable "leagueID" %></th>
      <th><%= sortable "rank" %></th>
      <th><%= sortable "playoff" %></th>
      <th><%= sortable "games" %></th>
      <th><%= sortable "wins" %></th>
      <th><%= sortable "losses" %></th>
      <th><%= sortable "ties" %></th>
      <th><%= sortable "overTimeLosses" %></th>
      <th><%= sortable "points" %></th>
      <th><%= sortable "shootOutWins" %></th>
      <th><%= sortable "shootOutLosses" %></th>
      <th><%= sortable "goalsFor" %></th>
      <th><%= sortable "goalsAgainst" %></th>
      <th><%= sortable "pim" %></th>
      <th><%= sortable "powerPlayGoals" %></th>
      <th><%= sortable "powerPlayChances" %></th>
      <th><%= sortable "shorthandedGoalsAgainst" %></th>
      <th><%= sortable "powerPlayGoalsAgainst" %></th>
      <th><%= sortable "penaltyKillChances" %></th>
      <th><%= sortable "shorthandedGoalsFor" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= team.year %></td>
        <td><%= team.teamName %></td>
        <td><%= team.teamID %></td>
        <td><%= team.leagueID %></td>
        <td><%= team.rank %></td>
        <td><%= team.playoff %></td>
        <td><%= team.games %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td><%= team.ties %></td>
        <td><%= team.overTimeLosses %></td>
        <td><%= team.points %></td>
        <td><%= team.shootOutWins %></td>
        <td><%= team.shootOutLosses %></td>
        <td><%= team.goalsFor %></td>
        <td><%= team.goalsAgainst %></td>
        <td><%= team.pim %></td>
        <td><%= team.powerPlayGoals %></td>
        <td><%= team.powerPlayChances %></td>
        <td><%= team.shorthandedGoalsAgainst %></td>
        <td><%= team.powerPlayGoalsAgainst %></td>
        <td><%= team.penaltyKillChances %></td>
        <td><%= team.shorthandedGoalsFor %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
