<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Teamname:</strong>
  <%= @team.teamName %>
</p>

<p>
  <strong>Leagueid:</strong>
  <%= @team.leagueID %>
</p>

<p>
  <strong>Teamid:</strong>
  <%= @team.teamID %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @team.rank %>
</p>

<p>
  <strong>Playoff:</strong>
  <%= @team.playoff %>
</p>

<p>
  <strong>Games:</strong>
  <%= @team.games %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @team.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @team.losses %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @team.ties %>
</p>

<p>
  <strong>Overtimelosses:</strong>
  <%= @team.overTimeLosses %>
</p>

<p>
  <strong>Points:</strong>
  <%= @team.points %>
</p>

<p>
  <strong>Shootoutwins:</strong>
  <%= @team.shootOutWins %>
</p>

<p>
  <strong>Shootoutlosses:</strong>
  <%= @team.shootOutLosses %>
</p>

<p>
  <strong>Goalsfor:</strong>
  <%= @team.goalsFor %>
</p>

<p>
  <strong>Goalsagainst:</strong>
  <%= @team.goalsAgainst %>
</p>

<p>
  <strong>Pim:</strong>
  <%= @team.pim %>
</p>

<p>
  <strong>Powerplaygoals:</strong>
  <%= @team.powerPlayGoals %>
</p>

<p>
  <strong>Powerplaychances:</strong>
  <%= @team.powerPlayChances %>
</p>

<p>
  <strong>Shorthandedgoalsagainst:</strong>
  <%= @team.shorthandedGoalsAgainst %>
</p>

<p>
  <strong>Powerplaygoalsagainst:</strong>
  <%= @team.powerPlayGoalsAgainst %>
</p>

<p>
  <strong>Penaltykillchances:</strong>
  <%= @team.penaltyKillChances %>
</p>

<p>
  <strong>Shorthandedgoalsfor:</strong>
  <%= @team.shortHandedGoalsFor %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
