<p id="notice"><%= notice %></p>

<h1>Listing Abbreviations</h1>
<% content_for :query do %>
    <h1>Abbreviations</h1>
<% end %>


<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Abbreviation</th>
      <th>Fullname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abbreviations.each do |abbreviation| %>
      <tr>
        <td><%= abbreviation.type %></td>
        <td><%= abbreviation.abbreviation %></td>
        <td><%= abbreviation.category %></td>
        <td><%= abbreviation.abrv %></td>
        <td><%= abbreviation.fullName %></td>
        <td><%= link_to 'Show', abbreviation %></td>
        <td><%= link_to 'Edit', edit_abbreviation_path(abbreviation) %></td>
        <td><%= link_to 'Destroy', abbreviation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abbreviation', new_abbreviation_path %>
