<p id="notice"><%= notice %></p>

<% content_for :query do %>
    <h1>Abbreviations</h1> 

        
    <%= search_form_for @search do |f| %>
        <div class="field">
          <%= link_to "Create", new_abbreviation_path %>
        </div>
        <div class="field">
          <%= f.label :abrv_cont, "Abreviation" %><br />
          <%= f.search_field :abrv_cont, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :fullName_cont, "Spelled Out" %><br />
          <%= f.search_field :fullName_cont, :class => "sfield" %>
        </div>
        <br />
        <br />
        <div class="actions">
          <%= f.submit "Search", :class => "button" %><br />
        </div>
          

    <% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Abrv</th>
      <th>Fullname</th>
      <th colspan="2">Administration</th>
    </tr>
  </thead>

  <tbody>
    <% @abbreviation.each do |abbreviation| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= abbreviation.category %></td>
        <td><%= abbreviation.abrv %></td>
        <td><%= abbreviation.fullName %></td>
        <td><%= link_to 'Edit', edit_abbreviation_path(abbreviation), :class => "admin" %></td>
        <td><%= link_to 'Destroy', abbreviation, method: :delete, data: {confirm: "Are you sure?" }, :class => "admin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
