<p id="notice"><%= notice %></p>

<% content_for :query do %>
    <h1>Abbreviations</h1>

    <%= search_form_for @search do |f| %>
        <div class="field">
          <%= f.label :abrv_cont, "Abreviation" %><br />
          <%= f.search_field :abrv_cont %>
        </div>
        <div class="field">
          <%= f.label :fullName_cont, "Spelled Out" %><br />
          <%= f.search_field :fullName_cont %>
        </div>
        <br />
        <br />
        <div class="actions"><%= f.submit "Search", :class => "button" %></div>
    <% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Abrv</th>
      <th>Fullname</th>
    </tr>
  </thead>

  <tbody>
<<<<<<< HEAD
    <% @abbreviation.each do |abbreviation| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
=======
    <% @abbreviations.each do |abbreviation| %>
      <tr>
        <td><%= abbreviation.type %></td>
        <td><%= abbreviation.abbreviation %></td>
>>>>>>> 4d45329e7e0ef75536eb91805272a5a084b03900
        <td><%= abbreviation.category %></td>
        <td><%= abbreviation.abrv %></td>
        <td><%= abbreviation.fullName %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abbreviation', new_abbreviation_path %>
