<p id="notice"><%= notice %></p>

<% content_for :query do %>

    <h1>Playoff Series</h1>


    <%= search_form_for @search do |f| %>
        <div class="field">
          <%= link_to "Create", new_seriespost_path %>
        </div>
        <div class="field">
          <%= f.label :year_gteq, "Years From, To" %><br />
          <%= f.search_field :year_gteq, :class => "sfield" %>
          <%= f.search_field :year_lteq, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :round_cont, "Round" %><br />
          <%= f.search_field :round_cont, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :winnerTeam_cont, "Winning Team" %><br />
          <%= f.search_field :winnerTeam_cont, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :loserTeam_cont, "Losing Team" %><br />
          <%= f.search_field :loserTeam_cont, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :wins_gteq, "Wins From, To" %><br />
          <%= f.search_field :wins_gteq, :class => "sfield" %>
          <%= f.search_field :wins_lteq, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :losses_gteq, "Losses From, To" %><br />
          <%= f.search_field :losses_gteq, :class => "sfield" %>
          <%= f.search_field :losses_lteq, :class => "sfield" %>
        </div>
        <div class="field">
          <%= f.label :winnersGoals_gteq, "Winner's Goals" %><br />
          <%= f.search_field :winnersGoals_gteq, :class => "sfield" %>
        </div>
        <br />
        <br />
        <div class="actions"><%= f.submit "Search", :class => "button" %></div>
    <% end %>

<% end %>
<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :year, "Year" %></th>
      <th><%= sort_link @search, :year, "Round" %></th>
      <th><%= sort_link @search, :year, "Series" %></th>
      <th><%= sort_link @search, :year, "Winning Team" %></th>
      <th><%= sort_link @search, :year, "Winner's League" %></th>
      <th><%= sort_link @search, :year, "Losing Team" %></th>
      <th><%= sort_link @search, :year, "Loser's League" %></th>
      <th><%= sort_link @search, :year, "Wins" %></th>
      <th><%= sort_link @search, :year, "Losses" %></th>
      <th><%= sort_link @search, :year, "Ties" %></th>
      <th><%= sort_link @search, :year, "Goals By Winner" %></th>
      <th><%= sort_link @search, :year, "Goals By Loser" %></th>
      <th colspan="2">Administration</th>
    </tr>
  </thead>

  <tbody>
    <% @seriesposts.each do |seriespost| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= seriespost.year %></td>
        <td><%= seriespost.round %></td>
        <td><%= seriespost.series %></td>
        <td><%= seriespost.winnerTeam %></td>
        <td><%= seriespost.winnerTeamLeague %></td>
        <td><%= seriespost.loserTeam %></td>
        <td><%= seriespost.loserTeamLeague %></td>
        <td><%= seriespost.wins %></td>
        <td><%= seriespost.losses %></td>
        <td><%= seriespost.ties %></td>
        <td><%= seriespost.winnersGoals %></td>
        <td><%= seriespost.losersGoals %></td>
        <td><%= link_to 'Edit', edit_seriespost_path(seriespost), :class => "admin" %></td>
        <td><%= link_to 'Destroy', seriespost, method: :delete, data: {confirm: "Are you sure?" }, :class => "admin" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seriespost', new_seriespost_path %>
