<p id="notice"><%= notice %></p>

<% content_for :query do %>

  <h1>Goalies, 1943-2013</h1>


  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :year_gteq, "Years From, To" %><br />
      <%= f.search_field :year_gteq %>
      <%= f.search_field :year_lteq %>
    </div>
    <div class="field">
      <%= f.label :player_cont, "Player" %><br />
      <%= f.search_field :player_cont %>
    </div>
    <div class="field">
      <%= f.label :age_gteq, "Age Range" %><br />
      <%= f.search_field :age_gteq %>
      <%= f.search_field :age_lteq %>
    </div>
    <div class="field">
      <%= f.label :team_cont, "Team" %><br />
      <%= f.search_field :team_cont %>
    </div>
    <div class="field">
      <%= f.label :w_gteq, "Wins" %><br />
      <%= f.search_field :w_gteq %>
    </div>
    <div class="field">
      <%= f.label :so_gteq, "Shutouts" %><br />
      <%= f.search_field :so_gteq %>
    </div>
    <br />
    <br />
    <div class="actions"><%= f.submit "Search", :class => "button" %></div>
  <% end %>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :playoffs, "Playoffs?" %></th>
      <th><%= sort_link @search, :year, "Year" %></th>
      <th><%= sort_link @search, :player, "Player" %></th>
      <th><%= sort_link @search, :age, "Age" %></th>
      <th><%= sort_link @search, :team, "Team" %></th>
      <th><%= sort_link @search, :gp, "Games Played" %></th>
      <th><%= sort_link @search, :w, "Wins" %></th>
      <th><%= sort_link @search, :l, "Losses" %></th>
      <th><%= sort_link @search, :ot, "Overtime Losses" %></th>
      <th><%= sort_link @search, :ga, "Goals Against" %></th>
      <th><%= sort_link @search, :sa, "Shots Against" %></th>
      <th><%= sort_link @search, :sv, "Saves" %></th>
      <th><%= sort_link @search, :svp, "Save %" %></th>
      <th><%= sort_link @search, :gaa, "Goals Against Average" %></th>
      <th><%= sort_link @search, :so, "Shutouts" %></th>
      <th><%= sort_link @search, :minutes, "Minutes Played" %></th>
      <th><%= sort_link @search, :g, "Goals" %></th>
      <th><%= sort_link @search, :a, "Assists" %></th>
      <th><%= sort_link @search, :pts, "Points" %></th>
      <th><%= sort_link @search, :pim, "Penalty Minutes" %></th>
      <th><%= sort_link @search, :firstname, "First Name" %></th>
      <th><%= sort_link @search, :lastname, "Last Name" %></th>
    </tr>
  </thead>

  <tbody>
    <% @goalies.each do |goalie| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= goalie.playoffs %></td>
        <td><%= goalie.year %></td>
        <td><%= goalie.player %></td>
        <td><%= goalie.age %></td>
        <td><%= goalie.team %></td>
        <td><%= goalie.gp %></td>
        <td><%= goalie.w %></td>
        <td><%= goalie.l %></td>
        <td><%= goalie.ot %></td>
        <td><%= goalie.ga %></td>
        <td><%= goalie.sa %></td>
        <td><%= goalie.sv %></td>
        <td><%= goalie.svp %></td>
        <td><%= goalie.gaa %></td>
        <td><%= goalie.so %></td>
        <td><%= goalie.minutes %></td>
        <td><%= goalie.g %></td>
        <td><%= goalie.a %></td>
        <td><%= goalie.pts %></td>
        <td><%= goalie.pim %></td>
        <td><%= goalie.firstname %></td>
        <td><%= goalie.lastname %></td>
      </tr>
    <% end %>
  </tbody>
</table>
