<p id="notice"><%= notice %></p>

<h2>Goaltenders, 1943-2013</h2>       
<table class="body_scroll">
  <thead>
    <tr>
      <th><%= sortable "playoffs", "Playoffs?" %></th>
      <th><%= sortable "year", "Year" %></th>
      <th><%= sortable "player", "Player" %></th>
      <th><%= sortable "age", "Age" %></th>
      <th><%= sortable "team", "Team" %></th>
      <th><%= sortable "gp", "Games Played" %></th>
      <th><%= sortable "w", "Wins" %></th>
      <th><%= sortable "l", "Losses" %></th>
      <th><%= sortable "ot", "Overtime Losses" %></th>
      <th><%= sortable "ga", "Goals Against" %></th>
      <th><%= sortable "sa", "Shots Against" %></th>
      <th><%= sortable "sv", "Saves" %></th>
      <th><%= sortable "svp", "Save %" %></th>
      <th><%= sortable "gaa", "Goals Against Average" %></th>
      <th><%= sortable "so", "Shutouts" %></th>
      <th><%= sortable "minutes", "Minutes Played" %></th>
      <th><%= sortable "g", "Goals" %></th>
      <th><%= sortable "a", "Assists" %></th>
      <th><%= sortable "pts", "Points" %></th>
      <th><%= sortable "pim", "Penalty Minutes" %></th>
      <th><%= sortable "firstname", "First Name" %></th>
      <th><%= sortable "lastname", "Last Name" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goalies.each do |goalie| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= goalie.playoffs %></td>
        <td><%= goalie.year %></td>
        <td><%= goalie.player %></td>
        <td><%= goalie.age %></td>
        <td><%= goalie.team %></td>
        <td><%= goalie.gp %></td>
        <td><%= goalie.w %></td>
        <td><%= goalie.l %></td>
        <td><%= goalie.ot %></td>
        <td><%= goalie.ga %></td>
        <td><%= goalie.sa %></td>
        <td><%= goalie.sv %></td>
        <td><%= goalie.svp %></td>
        <td><%= goalie.gaa %></td>
        <td><%= goalie.so %></td>
        <td><%= goalie.minutes %></td>
        <td><%= goalie.g %></td>
        <td><%= goalie.a %></td>
        <td><%= goalie.pts %></td>
        <td><%= goalie.pim %></td>
        <td><%= goalie.firstname %></td>
        <td><%= goalie.lastname %></td>
        <td><%= link_to 'Show', goalie %></td>
        <td><%= link_to 'Edit', edit_goaly_path(goalie) %></td>
        <td><%= link_to 'Destroy', goalie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goalie', new_goaly_path %>

<% content_for :query do %>
  <h1>GOALIES</h1>
<% end %>
