<p id="notice"><%= notice %></p>

<p>
  <strong>Playoffs:</strong>
  <%= @goalie.playoffs %>
</p>

<p>
  <strong>Year:</strong>
  <%= @goalie.year %>
</p>

<p>
  <strong>Player:</strong>
  <%= @goalie.player %>
</p>

<p>
  <strong>Age:</strong>
  <%= @goalie.age %>
</p>

<p>
  <strong>Team:</strong>
  <%= @goalie.team %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @goalie.gp %>
</p>

<p>
  <strong>W:</strong>
  <%= @goalie.w %>
</p>

<p>
  <strong>L:</strong>
  <%= @goalie.l %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @goalie.ot %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @goalie.ga %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @goalie.sa %>
</p>

<p>
  <strong>Sv:</strong>
  <%= @goalie.sv %>
</p>

<p>
  <strong>Svp:</strong>
  <%= @goalie.svp %>
</p>

<p>
  <strong>Gaa:</strong>
  <%= @goalie.gaa %>
</p>

<p>
  <strong>So:</strong>
  <%= @goalie.so %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @goalie.minutes %>
</p>

<p>
  <strong>G:</strong>
  <%= @goalie.g %>
</p>

<p>
  <strong>A:</strong>
  <%= @goalie.a %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @goalie.pts %>
</p>

<p>
  <strong>Pim:</strong>
  <%= @goalie.pim %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @goalie.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @goalie.lastname %>
</p>

<%= link_to 'Create', new_goaly_path(@goalie) %> |
<%= link_to 'Edit', edit_goaly_path(@goalie) %> |
<%= link_to 'Back', goalies_path %>
