<p id="notice"><%= notice %></p>

<p>
  <strong>Playoffs:</strong>
  <%= @goaly.playoffs %>
</p>

<p>
  <strong>Year:</strong>
  <%= @goaly.year %>
</p>

<p>
  <strong>Player:</strong>
  <%= @goaly.player %>
</p>

<p>
  <strong>Age:</strong>
  <%= @goaly.age %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @goaly.gp %>
</p>

<p>
  <strong>W:</strong>
  <%= @goaly.w %>
</p>

<p>
  <strong>L:</strong>
  <%= @goaly.l %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @goaly.ot %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @goaly.ga %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @goaly.sa %>
</p>

<p>
  <strong>Sv:</strong>
  <%= @goaly.sv %>
</p>

<p>
  <strong>Sv%:</strong>
  <%= @goaly.sv% %>
</p>

<p>
  <strong>Gaa:</strong>
  <%= @goaly.gaa %>
</p>

<p>
  <strong>So:</strong>
  <%= @goaly.so %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @goaly.minutes %>
</p>

<p>
  <strong>G:</strong>
  <%= @goaly.g %>
</p>

<p>
  <strong>A:</strong>
  <%= @goaly.a %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @goaly.pts %>
</p>

<p>
  <strong>Pim:</strong>
  <%= @goaly.pim %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @goaly.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @goaly.lastname %>
</p>

<%= link_to 'Edit', edit_goaly_path(@goaly) %> |
<%= link_to 'Back', goalies_path %>
