<p id="notice"><%= notice %></p>

<% content_for :query do %>

  <h1>Awards, 1966-2013</h1>


  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= link_to "Create", new_miscaward_path %>
    </div>
    <div class="field">
      <%= f.label :name_cont, "Name" %><br />
      <%= f.search_field :name_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :award_cont, "Award" %><br />
      <%= f.search_field :award_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :year_gteq, "Years From, To" %><br />
      <%= f.search_field :year_gteq, :class => "sfield" %>
      <%= f.search_field :year_lteq, :class => "sfield" %>
    </div>
    <br />
    <br />
    <div class="actions"><%= f.submit "Search", :class => "button" %></div>
  <% end %>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :award, "Award" %></th>
      <th><%= sort_link @search, :year, "Year" %></th>
      <th><%= sort_link @search, :league, "League" %></th>
      <th><%= sort_link @search, :note, "Note" %></th>
    </tr>
  </thead>

  <tbody>
    <% @miscawards.each do |miscaward| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= miscaward.name %></td>
        <td><%= miscaward.award %></td>
        <td><%= miscaward.year %></td>
        <td><%= miscaward.league %></td>
        <td><%= miscaward.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>