<p id="notice"><%= notice %></p>

<% content_for :query do %>

<h1>Team Splits, 1909-2013</h1>

  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= link_to "Create", new_teamvsteam_path %>
    </div>
    <div class="field">
      <%= f.label :year_gteq, "Years From, To" %><br />
      <%= f.search_field :year_gteq, :class => "sfield" %>
      <%= f.search_field :year_lteq, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :team_cont, "Primary Team" %><br />
      <%= f.search_field :team_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :opposingTeam_cont, "Opposing Team" %><br />
      <%= f.search_field :opposingTeam_cont, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :wins_gteq, "Wins" %><br />
      <%= f.search_field :wins_gteq, :class => "sfield" %>
    </div>
    <div class="field">
      <%= f.label :losses_gteq, "Losses" %><br />
      <%= f.search_field :losses_gteq, :class => "sfield" %>
    </div>
    <br />
    <br />
    <div class="actions"><%= f.submit "Search", :class => "button" %></div>
  <% end %>

<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :year, "Year" %></th>
      <th><%= sort_link @search, :league, "League" %></th>
      <th><%= sort_link @search, :team, "Team" %></th>
      <th><%= sort_link @search, :opposingTeam, "Opposing Team" %></th>
      <th><%= sort_link @search, :wins, "Wins" %></th>
      <th><%= sort_link @search, :losses, "Losses" %></th>
      <th><%= sort_link @search, :ties, "Ties" %></th>
      <th><%= sort_link @search, :otl, "Otl" %></th>
    </tr>
  </thead>

  <tbody>
    <% @teamvsteams.each do |teamvsteam| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= teamvsteam.year %></td>
        <td><%= teamvsteam.league %></td>
        <td><%= teamvsteam.team %></td>
        <td><%= teamvsteam.opposingTeam %></td>
        <td><%= teamvsteam.wins %></td>
        <td><%= teamvsteam.losses %></td>
        <td><%= teamvsteam.ties %></td>
        <td><%= teamvsteam.otl %></td>
      </tr>
    <% end %>
  </tbody>
</table>
