<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @teamvsteam.year %>
</p>

<p>
  <strong>League:</strong>
  <%= @teamvsteam.league %>
</p>

<p>
  <strong>Team:</strong>
  <%= @teamvsteam.team %>
</p>

<p>
  <strong>Opposingteam:</strong>
  <%= @teamvsteam.opposingTeam %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @teamvsteam.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @teamvsteam.losses %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @teamvsteam.ties %>
</p>

<p>
  <strong>Otl:</strong>
  <%= @teamvsteam.otl %>
</p>

<%= link_to 'Edit', edit_teamvsteam_path(@teamvsteam) %> |
<%= link_to 'Back', teamvsteams_path %>
